<hr class="half-rule">
<div class="row no-margin-row centertext tech-company">
	<div class="col-md-offset-2 col-md-8 what-if">
		<h4 class="green-text">What if a high-tech company offered yoga scheduling services?</h4>
		<p>Would it be strange? Maybe a little. Would it be awesome? Definitely! We're here to make the world a better, more relaxed place, and we would love it if you joined us on our mission.</p>
		<%= link_to booking_path, class: "btn btn-primary btn-lg" do %>
			Try Us
		<% end %> 
	</div>
</div>

<footer class="footer">
  <div class="container centertext">
    <p><%= link_to "About Us", about_path -%> | <%= link_to "Privacy Policy", privacy_path -%> | <%= link_to "Terms & Conditions", terms_path -%> | <%= link_to "Teachers", teachers_path -%><br />
    Yoga in Comfort™ is a registered trademark of Agile Online Ventures LLC. All rights reserved. | Copyright 2014</p>
  </div>
</div>
</footer>