<header>
  <nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_url %>"><%= image_tag "yogaincomfortlogo.png", height: 55, alt: "Yoga in Comfort logo" -%></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "About Us", about_path %></li>
      <li><a href="<%= root_url %>#location">Location</a></li>
      <li><%= link_to "FAQ", faq_path %></li>
      <li>
          <form>
            <%= link_to booking_path, class: "btn btn-primary navbar-btn" do %>
              <strong><i class="fa fa-clock-o"></i> Book in 60 secs</strong>
            <% end %>
          </form>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</header>